<div *ngIf="match.teams.length >= 2">
  <div class="nk-match">
    <div class="nk-match-team-left">
      <a href="#">
        <span class="nk-match-team-logo">
          <img src="assets/images/team-1.jpg" alt="">
        </span>
        <span class="nk-match-team-name">
          {{match.teams[0].team.name}} ({{match.teams[0].team.acronym}})
        </span>
      </a>
    </div>
    <div class="nk-match-status">
      <a routerLink="/matches/{{match.id}}">
        <span class="nk-match-status-vs">VS</span>
        <span class="nk-match-status-date">{{match.scheduledAt | date:'medium'}}</span>
        <span class="nk-match-score bg-danger">{{this.match.teams[0].score}} : {{this.match.teams[1].score}}</span> <br>
        <span class="nk-match-score bg-secondary">{{this.match.status}}</span>
      </a>
    </div>
    <div class="nk-match-team-right">
      <a href="#">
        <span class="nk-match-team-name">
          {{match.teams[1].team.name}} ({{match.teams[1].team.acronym}})
        </span>
        <span class="nk-match-team-logo">
          <img src="assets/images/team-2.jpg" alt="">
        </span>
      </a>
    </div>
  </div>
  <div class="nk-gap-2"></div>
</div>
