<div class="nk-match">
  <div class="nk-match-team-left">
    <a href="#">
      <span class="nk-match-team-logo">
        <img src="assets/images/team-1.jpg" alt="">
      </span>
      <span class="nk-match-team-name">
        SK Telecom T1
      </span>
    </a>
  </div>
  <div class="nk-match-status">
    <a href="#">
      <span class="nk-match-status-vs">VS</span>
      <span class="nk-match-status-date">Apr 28, 2018 8:00 pm</span>
      <span class="nk-match-score bg-danger">2 : 17</span>
    </a>
  </div>
  <div class="nk-match-team-right">
    <a href="#">
      <span class="nk-match-team-name">
        Cloud 9
      </span>
      <span class="nk-match-team-logo">
        <img src="assets/images/team-2.jpg" alt="">
      </span>
    </a>
  </div>
</div>
