<div class="container">
    <form [formGroup]="formGroup">
      <label >Title</label><br>
      <input type="text" formControlName="title" required><br><br>
  
      <label >Description</label><br>
      <input type="text" formControlName="description" required><br><br>

      <label>Publisher</label><br>
      <input type="text" formControlName="publisher" required><br><br>

      <label>Image Url</label><br>
      <input type="text" formControlName="image" required><br><br>
  
      <label >Choose Game</label><br>
      <select formControlName="game" required><br><br>
        <option value="lol">LoL</option>
        <option value="dota2">Dota2</option>
        <option value="codmw">Codmw</option>
        <option value="valorant">Valorant</option>
      </select>

      <label>Date</label><br>
      <input type="date" formControlName="date" required><br><br>

      <label>Content</label><br>
      <textarea placeholder="Write something.." style="height:200px" formControlName="content" required></textarea>
      <br><br>
      <input value="Add" [disabled]="formGroup.invalid" (click)="onSubmit()"> 
  
    </form>
  </div>

