[submodule "Sportify/Backend/Sportify-UserManagement"]
	path = Sportify/Backend/Sportify-UserManagement
	url = https://github.com/mohammedelsisi/Sportify-UserManagement
[submodule "Sportify/Backend/Sportify-GameDetails"]
	path = Sportify/Backend/Sportify-GameDetails
	url = https://github.com/MKSherbini/Sportify-GameDetails
