
<div class="nk-match" *ngIf="loaded">
  <div class="nk-match-team-left">
    <a href="#">
      <span class="nk-match-team-logo">
        <img src="{{this.match.teams[0].team.imageUrl}}" width="150" alt="">
      </span>
      <span  class="nk-match-team-name"  >
        {{match.teams[0].team.name}} ({{match.teams[0].team.acronym}})
      </span>
    </a>
  </div>
  <div class="nk-match-status">
    <a href="#">
      <span class="nk-match-status-vs">VS</span>
      <span class="nk-match-status-date">
        {{match.scheduledAt | date:'medium'}}
      </span>
    </a>
    <br>
    <app-prediction-slider *ngIf="!isSelectedBefore" (eventEmiitter)="onChange($event)" [team01]="match.teams[0]" [team02]="match.teams[1]"></app-prediction-slider>

    <button *ngIf="!isSelectedBefore" [disabled]="!selected" class="nk-match-score" (click)="sendPrediction()" >Submit</button>
    <button *ngIf="isSelectedBefore" disabled class="nk-match-score">You've already voted for <b>{{previousSelectionInDB}}</b></button>

  </div>
  <div class="nk-match-team-right">
    <a href="#">
      <span class="nk-match-team-name"  >
        {{match.teams[1].team.name}} ({{match.teams[1].team.acronym}})
      </span>
      <span class="nk-match-team-logo">
        <img src="{{this.match.teams[1].team.imageUrl}}" width="150" alt="">
      </span>
    </a>
  </div>
</div>
<div class="nk-gap-2"></div>

