<div class="nk-gap-1"></div>
  <div class="container">
    <ul class="nk-breadcrumbs">


      <li><a href="index.html">Home</a></li>


      <li><span class="fa fa-angle-right"></span></li>

      <li><span>Registration Form</span></li>

    </ul>
  </div>
<div class="card bg-dark" >
  <div class="card-body">
      <form [formGroup]="formGroup">
          <label>User Name</label>
          <input formControlName="userName" class="form-control" type="text" [required]="true">
          <label>User Email</label>
          <input formControlName="email" class="form-control" type="text" [required]="true">
          <label>Password</label>
          <input formControlName="password" class="form-control" type="password" [required]="true">

          <input class="btn btn-primary mt-4" type="submit" (click)="saveUser()">
      </form>
  </div>
</div>
<div class="nk-gap-1"></div>

