<!-- START: Breadcrumbs -->
<div *ngIf="this.loadedData==3">

<div class="nk-gap-1"></div>
<div  class="container">
  <span type="button" class="score btn btn-info">User Score: {{userScore}} </span>
  <ul class="nk-breadcrumbs">


    <li><a href="index.html">Home</a></li>


    <li><span class="fa fa-angle-right"></span></li>

    <li><span>Matches Results</span></li>

  </ul>

</div>
<div class="nk-gap-1"></div>
<!-- END: Breadcrumbs -->

<div class="container">
  <div class="nk-gap"></div>

  <div *ngFor="let matchAndSelection of notFinishedMatches">
    <app-not-finished-matches [matchAndSelection]=matchAndSelection></app-not-finished-matches>
  </div>

  <ul class="nk-breadcrumbs">
    <li><span>Previous Results</span></li>
  </ul>
  <div class="nk-gap-1"></div>

  <div *ngFor="let matchAndResult of finishedMatches">
    <app-finished-matches [matchAndResult]=matchAndResult></app-finished-matches>
  </div>



</div>

</div>
